@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my chat!</h1>
    <p>You can find more of my projects <a class="text-warning" href="https://github.com/pkobakov">here</a>.</p>
</div>
