@using MyFirstWeb.ViewModels.UsersViewModels
@model IndexViewModel

@{

    ViewData["Title"] = "Petar Kobakov page";
}

<partial name="_UsersPartial" model="Model" />


<h1>@ViewData["Title"]</h1>
<h3>Hello, my name is @Model.Username</h3>
<h3>I'm @Model.Age years old</h3>
<h3>My Id is @Model.Id</h3>