@using MyFirstWeb.ViewModels.UsersViewModels

@model IndexViewModel

@{

    ViewData["Title"] = "Petar Kobakov page";
}

<partial name="_UsersPartial" model="Model" />
<div class="text-center text-white">
    <h5>@ViewData["Title"]</h5>
    <p>I'm @Model.Age years old</p>
    <p>My Id is @Model.Id</p>
</div>



<div class="form-group">
    <p><input asp-for="Username" name="Username" /></p>
    <p><textarea asp-for="Description">Description</textarea></p>
</div>



