@using System.Text
@using Microsoft.Extensions.Configuration 
@inject IConfiguration config  

@{
    ViewData["Title"] = "Home Page";
}


@section Links{ 
    <li class="nav-item">
        <a class="nav-link text-info" href="https://google.com">Google</a>
    </li>

}
<div class="text-center">
    <h1 class="display-4 text-white">@this.config["HelloMessage"]</h1>
    <p class="text-white">@this.config["EmailSettings:URL"]</p>
    <p class="text-white">Learn about <a class="text-warning" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
