@using System.Text
@using Microsoft.Extensions.Configuration
@using MyFirstWeb.ViewModels
@model IndexViewModel 
@inject IConfiguration config  

@{
    ViewData["Title"] = "Home Page";
}


@section Links{ 
    <li class="nav-item">
        <a class="nav-link text-info" href="https://google.com">Google</a>
    </li>

}
<div class="text-center">
    <h1 class="display-4 text-white">@this.config["HelloMessage"]</h1>
    <p class="text-white">Learn about <a class="text-warning" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h5 class="display-4 text-white">Been on Privacy page: @Model.ReadPrivacy</h5>
<form method="post" asp-action="GetData">
    <input type="text" name="info"/>
    <input type="submit" value="Click" />
</form>
