@{
    ViewData["Title"] = "Home Page";
}
@section Links{ 
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com">Google</a>
    </li>

}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
