@using System.Text

@{
    ViewData["Title"] = "Privacy Policy";
}



@section Links{
    <li class="nav-item">
        <a class="nav-link text-info" href="https://bing.com">Bing</a>
    </li>

}

<div class="text-center text-white">
    <h1 >@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>

